
VITE_SUPABASE_URL=https://hwgwbnfxxgzoikxntyes.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imh3Z3dibmZ4eGd6b2lreG50eWVzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjYwMjQ3NTcsImV4cCI6MjA4MTYwMDc1N30.uv2-A5g5uXYCaHYtwBqkmIhYxEAm6kq-5gFN5iZI2Q0

